<div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div> 
    <h1>Art Gallery by Mrs Smita Patil</h1>
  </div>

  <div >
    <div class="navbar"  >
      <a routerLink="login"> Login </a>
      <a routerLink="products">Available Products</a>  
      <a routerLink="addproduct">Add Product</a> 
      <span style="color: springgreen;"></span>
   </div>
<div class="row"> 
  <router-outlet></router-outlet>
</div>
</div>