<div class="div-hide" >
    <h2>Add Product</h2>
    <form #productRef="ngForm" (ngSubmit)="addProduct(productRef,imageReference)">
    <div class="form-group" >
        <label> Product Name</label>
        <input type="text" name="name"  ngModel required id="">
        <label for="">Product price</label>
        <input type="text" name="price"  ngModel required id=""><br>
    
        <label for="">Product Details</label>
        <input type="text" name="details" ngModel required id=""><br>
        <label>Select image</label>
        <input type="file"  #imageReference  name="pImg"  ><br>
        <button type="submit">Add Product</button>
    </div>
    </form>
    </div>
