<h2 (onload)="viewProducts()">Available Products  </h2>
<div class="grid-container">
<div  *ngFor="let p of products; let i=index">
    <div >
    <img src={{p.url}} alt="" width="150" height="150"/>
    <div>
    <p>{{i+1}} 
        <label style="color:rgb(92, 194, 241); font-size: xx-large;">{{p.name}} </label> 
        <label style="color: rgb(0, 255, 21);">  Rs : {{p.price}} </label> <br>
        <label style="color: palevioletred;">  {{p.description}}</label>
        <input class="del-btn" type="button"  value="Delete product"  />
    </p>
    </div>
    </div>   

</div>
</div>